node_modules
dist
build
out
public
.turbo
.env
.env.local
*.log
.DS_Store
apps/desktop/src-tauri/target
packages/database/prisma/dev.db
packages/database/prisma/dev.db-journal
*.db
*.db-journal
service-account.json

.vercel
.env*
