node_modules
dist
build
out
/public
# /apps/website/public
/apps/website/out
/apps/website/dist
/apps/website/build
.turbo
.env
.env.local
*.log
.DS_Store
apps/desktop/src-tauri/target
packages/database/prisma/dev.db
packages/database/prisma/dev.db-journal
*.db
*.db-journal
service-account.json

.vercel
.env*
*.dll
